<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- 引入angular的js -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 引入分页相关的JS和CSS -->
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <link rel="stylesheet" type="text/css" href="../css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="../css/pages-seckillOrder.css"/>
    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>

    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/service/orderService.js"></script>
    <script type="text/javascript" src="../js/controller/orderController.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="orderController"
      ng-init="search()">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">订单审核</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <!--<button type="button" ng-click="dele()" class="btn btn-default" title="删除"><i-->
                    <!--class="fa fa-trash-o"></i> 删除-->
                    <!--</button>-->
                    <!--&lt;!&ndash;<button type="button" ng-click="updateStatus('1')" class="btn btn-default" title="审核通过"><i-->
                    <!--class="fa fa-check"></i> 审核通过-->
                    <!--</button>&ndash;&gt;-->
                    <!--<button type="button" ng-click="updateStatus('2')" class="btn btn-default" title="驳回"><i-->
                    <!--class="fa fa-ban"></i> 驳回-->
                    <!--</button>-->
                    <button type="button" class="btn btn-default" title="刷新"><i class="fa fa-refresh"></i> 刷新</button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            总条数：{{paginationConf.totalorders}}
            <div class="has-feedback">
                状态：<select ng-model="searchEntity.status" class="status">
                <option value="">全部</option>
                <option value="1">未付款</option>
                <option value="2">已付款</option>
                <option value="3">未发货</option>
                <option value="4">已发货</option>
                <option value="5">交易成功</option>
                <option value="6">交易关闭</option>
                <option value="7">待评价</option>
            </select>

                时间范围：<select ng-model="searchEntity.finishedDate" class="finishedDate">
                <option value="1">日订单</option>
                <option value="2">周订单</option>
                <option value="3">月订单</option>
            </select>
                订单日期：<input ng-model="searchEntity.date" class="date">
                <button class="btn btn-default" ng-click="reloadList()">查询</button>
            </div>
        </div>
        <br><br><br>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">

            <div class="yui3-u-5-6 order-pay">
                <div class="body">
                    <div class="table-title">
                        <table class="sui-table  order-table">
                        </table>
                    </div>
                    <div class="order-detail">
                        <div class="orders">

                            <!--order1-->
                            <div ng-repeat="order in list">
                                <div class="choose-title">
                                    <label data-toggle="checkbox" class="checkbox-pretty ">
                                        <table class="sui-table  order-table">
                                            <tr>
                                                <thead>
                                                <th width="20%">下单时间:{{order.updateTime}}</th>
                                                <th width="20%">订单编号：{{order.orderId}}</th>
                                                <th width="20%">【商家:{{order.orderItem[0].sellerName}}】</th>
                                                <th width="20%">¥{{order.payment}}</th>
                                                <th width="20%"></th>
                                                </thead>
                                            </tr>
                                        </table>
                                    </label>
                                </div>
                                <table class="sui-table table-bordered order-datatable">
                                    <tbody>
                                    <tr ng-repeat="item in order.orderItem">
                                        <td width="16.7%">
                                            <div class="typographic"><img src="{{item.picPath}}" width="40"
                                                                          height="40"/>
                                            </div>
                                        </td>
                                        <td width="16.7%">
                                            <a href="#" class="block-text">{{item.title}}</a>

                                        </td>
                                        <td width="16.7%" class="center">
                                            <ul class="unstyled">
                                                <li>¥{{item.price}}</li>
                                                <li class="o-price">¥{{item.price}}</li>
                                            </ul>
                                        </td>
                                        <td width="16.7%" class="center">
                                            <ul class="unstyled">
                                                <li>数量:{{item.num}}</li>
                                            </ul>
                                        </td>
                                        <td width="16.7%" class="center">
                                            <ul class="unstyled">
                                                <li>¥{{item.totalFee}}</li>
                                            </ul>
                                        </td>

                                        <td width="16.7%" class="center">
                                            <ul class="unstyled">
                                                <li><a href="#" class="sui-btn btn-info">详情</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- 分页 -->
                            <tm-pagination conf="paginationConf"></tm-pagination>

        </table>
        <!--数据列表/-->


    </div>

</div>
<!-- /.box-body -->

</body>

</html>